# Appwrite endpoint, e.g. https://fra.cloud.appwrite.io/v1
NEXT_PUBLIC_APPWRITE_ENDPOINT=

# Appwrite Project ID
NEXT_PUBLIC_APPWRITE_PROJECT_ID=

# Appwrite Database ID
NEXT_PUBLIC_APPWRITE_DATABASE_ID=

# Appwrite Table ID for user profiles (TablesDB)
NEXT_PUBLIC_APPWRITE_PROFILES_TABLE_ID=

# Appwrite Table ID for messages (TablesDB)
NEXT_PUBLIC_APPWRITE_MESSAGES_TABLE_ID=
